{% style %}
  {% if section.settings.bg_img %}
    .announcementbar {
      background-image: url('{{ section.settings.bg_img | image_url  }}');
    }
    {% if section.settings.bg_imgmobile %}
      @media(max-width: 767px) {
        .announcementbar {
          background-image: url('{{ section.settings.bg_imgmobile | image_url  }}');
        } 
      }
    {% endif %}
  {% endif %}
{% endstyle %}

<div class="announcementbar color-{{ section.settings.color_scheme }} gradient">
  <div class="announcementbar__container">
    {% if section.settings.heading != blank %}
      <p class="announcementbar__heading">{{ section.settings.heading }}</p>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Announcement Bar",
    "settings": [
      {
        "type": "image_picker",
        "label": "BG Image",
        "id": "bg_img"
      },
      {
        "type": "image_picker",
        "label": "BG Image Mobile",
        "id": "bg_imgmobile"
      },
      {
        "type": "text",
        "label": "Announcment Text",
        "id": "heading"
      },
      {
        "type": "header",
        "content": "Color Scheme"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      }
    ],
    "presets": [
      {
        "name": "Announcement Bar"
      }
    ],
  }
{% endschema %}
