.announcementbar *{ 
  color: rgba(var(--color-foreground));
}

.announcementbar {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: unset;
  padding: 22px 0 23px;
}

.announcementbar__heading {
  margin: 0;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: 800;
  font-family: "Inter", system-ui;
  text-transform: uppercase;
}

.announcementbar__container {
  padding-left: 20px;
  padding-right: 20px;
}

/* ====== Header ===== */

.header-wrapper .header.page-width {
  max-width: 1500px;
  width: 100%;
  padding: 18px 30px;
  gap: 43px;
  align-items: center;
}

#cart-icon-bubble {
  display: none;
}

.header__inline-menu .header__menu-item {
  color: rgba(var(--color-foreground));
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  letter-spacing: 0.9px;
  font-family: "poppins", system-ui;
  padding: 0;
  text-decoration: none;
  transition: all 0.4s ease;
} 

.header__inline-menu .header__menu-item:hover {
  color: #07C961;
}

.header--middle-left .header__heading-link {
  padding: 0;
}

.header__heading-logo-wrapper {
  max-width: 128px;
  width: 100%;
}

.header__inline-menu .list-menu.list-menu--inline {
  gap: 50px;
}

.header:not(.header--top-center) *>.header__search, 
.header--top-center>.header__search {
  display: none;
}

.header__icon .svg-wrapper,
.header__icon {
  height: auto;
  width: auto;
}

.header__btns {
  display: flex;
  align-items: center;
  gap: 35px;
}

.header__buynow {
  background: #07C961;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: #fff;
  padding: 19px 38px;
  border-radius: 32.5px;
  font-family: "poppins", system-ui;
  text-decoration: none;
  transition: all 0.4s ease;
}

.header__buynow:hover {
  background: #4B93D0;
}

.header__menu-item:hover span {
  text-decoration: none;
}

/* ==== Product page css ===== */

.main-product {
  padding: 35px 0;
  background: #F6F6F6;
}

.main-product > .page-width {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding-left: 75px;
  padding: 0 75px;
}

.main-product .product--thumbnail_slider .slider-mobile-gutter .slider-button {
  display: none;
}

.main-product .product-media-container .media {
  padding-top: 62.2%;
}

.global-media-settings:after {
  display: none;
}

.main-product .global-media-settings {
  border: none;
  background: none;
}

.main-product .thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide {
  width: 100px;
}

.main-product .thumbnail[aria-current] {
  box-shadow: none;
  border: none;
}

.thumbnail-list__item:has(.thumbnail[aria-current]) {
  position: relative;
}

.thumbnail-list__item:has(.thumbnail[aria-current])::after {
  content: '';
  position: absolute;
  bottom: -10px;
  height: 3px;
  width: 100%;
  background: linear-gradient(90deg, #A34D9F 0%, #275FD0 100%);
}

.main-product .thumbnail:hover {
  opacity: 1;
}
.main-product .thumbnail:focus-visible,
.main-product .thumbnail[aria-current]:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
  border: none;
}

.main-product .thumbnail-slider .thumbnail-list.slider--tablet-up {
  padding: 0 0 14px 0;
  gap: 26px;
}

.product__media-wrapper .product__media-list .grid__item:first-child{
  position: relative;
  padding-top: 80px;
} 

.product__media-wrapper .product__media-list .grid__item:first-child::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  max-width: 39%;
  width: 100%;
  height: 112px;
  background-image: var(--branded-logo);
  background-repeat: no-repeat;
  background-size: contain;
}

.main-product .product--thumbnail_slider .product__media-list {
  margin-bottom: 83px;
}

.product-offers__grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 30px;
  margin-top: 34px;
}

.product-offers__grid-item {
  flex: 0 0 calc(50% - 5px);
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
}

.product-offers__icon {
  max-width: 50px;
  width: 100%;
}

.product-offers__icon img {
  max-width: 100%;
  width: 100%;
}

.product-offers__title {
  max-width: calc(100% - 75px);
}


:is(.product-form__input--pill,.product-form__input--swatch) .form__label {
  display: none;
}

.product__title h1 {
  font-weight: 700;
  font-family: "poppins", system-ui;
  color: #3F3631;
  font-size: 36px;
  line-height: 54px;
  margin: 0;
}

.shopify-block.shopify-app-block {
  margin: 0;
}

.loox-rating-label {
  font-size: 18px;
  color: #3F3631;
  font-weight: 300;
  font-family: "poppins", system-ui;
}

.product__text.inline-richtext {
  font-size: 16px;
  color: #3F3631;
  font-weight: 300;
  line-height: 24px;
  font-family: "poppins", system-ui;
  margin: 0;
}

.product__info-container .product__title {
  margin-bottom: 0;
}

.label_wrapper {
  background: #fff;
  padding: 20px 25px;
  border-radius: 10px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-image: #C4C4C4;
  z-index: 1;
}

.label_wrapper::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  background: linear-gradient(180deg, #2D5ECE 0%, #9F4EA1 100%);
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  z-index: -1;
  mix-blend-mode: color;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.4s ease;
}

.label_wrapper label {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 2;
  top: 0;
  left: 0;
  cursor: pointer;
  display: block;
}

.label_wrapper * {
  letter-spacing: 0;
}

.product__info-container input[type='radio']:checked + .label_wrapper::after {
  opacity: 1;
}

.product-form__input .label_wrapper:not(:last-child) {
  margin-bottom: 15px;
}

.variant__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.variant__header-title,
.variant__header-price {
  font-size: 24px;
  color: #3F3631;
  font-weight: 700;
  line-height: 36px;
  font-family: "poppins", system-ui; 
}

.variant__header-price {
  font-weight: 300;
}

.variant__compareprice {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.variant__compareprice::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 94px;
  height: 2px;
  background: #e41e31;
  transform: rotate(-6deg);
}

.variant__popular {
  padding: 3px 49px;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 24px;
  font-family: "poppins", system-ui;
  background: linear-gradient(90deg, #A34D9F 0%, #275FD0 100%);
  max-width: 244px;
  width: 100%;
  margin: 5px 0 4px;
  border-radius: 100px;
  display: inline-flex;
  min-height: 30px;
  align-items: center;
  justify-content: center;
}

.variant__feature {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.variant__feature-icon {
  flex: 0 0 28px;
}

.variant__feature-icon img {
  max-width: 100%;
  width: 100%;
}

.variant__feature-title {
  flex: 0 0 calc(100% - 43px);
  font-size: 18px;
  color: #3F3631;
  font-weight: 300;
  line-height: 27px;
  font-family: "poppins", system-ui; 
}

.product .product__info-container {
  max-width: 100%;
  width: 100%;
}

.variant__features {
  margin: 5px 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.metafield-rich_text_field * {
  font-size: 16px;
  color: #3F3631;
  font-weight: 300;
  line-height: 26px;
  font-family: "poppins", system-ui; 
}

.metafield-rich_text_field b,
.metafield-rich_text_field strong {
  font-weight: 600;
}

.product__info-container .product-form__submit::after,
.product__info-container .product-form__submit::before {
  display: none;
}

.product__info-container .product-form__submit {
  max-width: 548px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #fff;
  box-shadow: none;
  outline: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  background: #07C961;
  border-radius: 49px;
  min-height: 79px;
  font-family: "poppins", system-ui; 
  transition: all 0.4s ease;
}

.product__info-container .product-form__buttons {
  max-width: 548px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.product__info-container .product-form__submit span {
  text-shadow: 0px 1px 2px #00000040;
}

.product__info-container .product-form__submit:hover {
  background: #4B93D0;
}

.product__info-container .product-form {
  margin: 15px 0 30px;
}

.product__info-container .paymet__icon {
  margin: 0 auto;
  max-width: 434px;
  width: 100%;
}

.paymet__icon img {
  max-width: 100%;
  width: 100%;
}

.hide-desktop {
  display: none;
}

/* ====== Guarrante section ======== */
.guarantee {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 75px;
}

.guarantee__container {
  background: #FBFCFB;
  padding: 50px 65px;
}

.guarantee__grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.guarantee__badge {
  flex: 0 0 23.9%;
}

.guarantee__badge img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.guarantee__content {
  flex: 0 0 calc(76.1% - 50px);
}

.guarantee__heading {
  font-size: 48px;
  font-weight: 300;
  line-height: 82px;
  color: #3F3631;
  font-family: "poppins", system-ui;
  margin: 0 0 10px; 
  letter-spacing: 0;
}

.guarantee__desc {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: #3F3631;
  font-family: "poppins", system-ui; 
  letter-spacing: 0;
}

/* ========= media quries ======== */
@media(min-width: 990px) {
  .main-product .product--medium:not(.product--no-media) .product__media-wrapper,
  .main-product .product--small:not(.product--no-media) .product__info-wrapper {
    max-width: 46.7%;
    width: 46.7%;
  }

  .main-product .product--medium:not(.product--no-media) .product__info-wrapper, 
  .main-product .product--small:not(.product--no-media) .product__media-wrapper {
    max-width: 47%;
    width: 47%;
    padding: 0;
  }

  .product.grid {
    justify-content: space-between;
  }
}

@media(max-width: 1200px) {
  .main-product .product--medium:not(.product--no-media) .product__info-wrapper, 
  .main-product .product--small:not(.product--no-media) .product__media-wrapper {
    max-width: 51%;
    width: 100%;
  }

  .product-offers__title br {
    display: none;
  }

  .main-product>.page-width {
    padding: 0 16px;
  }

  .guarantee__heading {
    font-size: 36px;
    line-height: 46px;
  }

  .guarantee__desc {
    font-size: 18px;
    line-height: 30px;
    text-align: left;
  }

  .guarantee {
    padding: 30px 20px;
  }
}

@media(max-width: 1100px) { 
  .label_wrapper {
    padding: 20px 19px;
  }

  .variant__header {
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
  }

  .product__title h1 {
    font-size: 32px;
    line-height: 48px;
  }

  .main-product .thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide {
    width: 54px;
  }

  .main-product .thumbnail-slider .thumbnail-list.slider--tablet-up {
    gap: 14px;
    padding: 0 0 7px 0;
  }

  .thumbnail-list__item:has(.thumbnail[aria-current]):after {
    bottom: -6px;
  }
}

@media(max-width: 1024px) {
  .product-offers__grid {
    flex-direction: column;
    gap: 10px;
  }
}

@media(max-width: 989px) {
  .announcementbar__heading {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1.8px;
    max-width: 212px;
    width: 100%;
    margin: 0 auto;
  }

  .announcementbar__heading .hide_mobile {
    display: none;
  }

  .announcementbar {
    padding: 11px 0;
  }

  .header-wrapper .header.page-width {
    gap: 0;
  }

  .header__icon--menu .icon {
    right: 31px;
  }

  .header-wrapper .header.page-width {
    padding: 18px 31px 18px 17px;
  }

  .header__buynow {
    padding: 6px 17px;
  }

  .header__icons {
    padding-right: 42px;
    min-width: 158px;
  }

  .header__btns {
    min-width: fit-content;
  }

  .hide-mobile {
    display: none;
  }

  .hide-desktop {
    display: block;
  }

  .product .grid--2-col-tablet .grid__item {
    width: 100%;
    max-width: 100%;
  }

  .main-product .product--medium:not(.product--no-media) .product__info-wrapper, 
  .main-product .product--small:not(.product--no-media) .product__media-wrapper {
    max-width: 100%;
    width: 100%;
    padding: 20px 0 0 0;
  } 

  .product__info-container .product__title,
  .shopify-block.shopify-app-block, 
  .product__text.inline-richtext {
    text-align: center;
  }

  .product__info-container .paymet__icon {
    max-width: 335px;
  }

  .product-offers__grid {
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;
    row-gap: 20px;
    column-gap: 15px;
  }

  .product-offers__grid-item {
    flex: 0 0 calc(50% - 7.5px);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 15px;
  }

  .thumbnail-list__item:has(.thumbnail[aria-current]):after {
    height: 1px;
    bottom: -5px;
  }

  .product__info-container .product-form__submit {
    gap: 16px;
    min-height: 60px;
  }

  .product-offers__title {
    max-width: 100%;
  }

  .main-product .product--thumbnail_slider .product__media-list {
    margin-bottom: 10px;
  }

  .main-product .grid--peek.slider--mobile .grid__item {
    width: 100%;
  }

  .guarantee {
    padding: 30px 0;
  }

  .guarantee__container {
    padding: 30px 25px;
  }

  .guarantee__grid {
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .guarantee__badge {
    max-width: 200px;
    width: 100%;
  }
}